:root {
    --newOrange: #fa7453;
    --newBlack: #191826;
    --newCyan: #66e2dc;
    --newYellow: #ffb964;
    --newWhite: #fcfaf9;
  }
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    
}
html{
    font-size: 10px;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}



    .header-logo{
        padding: 2rem;
        margin: 2rem 0;
    }
    .text-header{
        text-align: left;
        margin-left: 2rem;
    }
    header h1{
        font-size: 5rem;
    }
    header p{
        font-size: 2rem;
        margin-top: 2rem;
        
    }
    .pattern-1{
        display: none;
    }

    .black-container{
        background-color: var(--newBlack);
        border-radius: 1rem;
        z-index: -10;
        position: relative;
        margin-top: 15rem;
        height: 60rem;
    }
    .pattern-2{
        max-width: 28rem;
        position: relative;
        left: 7.5rem;
    }
        
    .illustration-app{
        width: 20rem;
        z-index: 5;
        position: absolute;
        top: -15%;
        left: 11.25rem;
    }
    .orange-container{
        background-color: var(--newOrange);
        border-radius: 1rem;
        z-index: 10;
        position: relative;
        top: -2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        

    }
    .orange-container h2{
        font-size: 3rem;
        padding: 3rem;
    }
    .orange-container p{
        font-size: 1.5rem;
        padding: 3rem;
    }
    .orange-container 
    {
        color: var(--newWhite);
    }
    .pricing{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .orange-container span{
        font-size: 4rem;
        font-weight: 700;
    }
    .apple-button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--newBlack);
        color: var(--newWhite);
        margin: 5rem 10rem;
        border-radius: 1rem;
        height: 5rem;
        
        
    }
    .apple-button img{
        height: 2rem;
        margin-left: 2rem;
    }
    .android-button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:var(--newWhite);
        color:var(--newBlack);
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 5rem;
        border-radius: 1rem;
        height: 5rem;
        

    }
    .android-button img{
        height: 2rem;
        margin-left: 2rem;
    }
    footer{
        margin-top: 60rem;
        
    }
    .footer-logo{
        padding: 2rem;
    }
    footer p{
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }
    footer ul{
        display: flex;
        gap: 1rem;
        padding: 3rem 2rem;
        list-style-type: none;
    }





/* tablet */


@media (min-width: 768px) {
    body{
        background-image: url(./assets/bg-main-tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    header,
    main,
    footer
    {
        width: 100vw;
    }
    .text-header{
        width: 50rem;
        padding-right: 5rem;
        
    }
    .pattern-1{
        display: block;
        width: 25rem;
        height: auto;
        float: right;
        position: relative;
        top: -45rem;
        right: -1rem;
    }
    .black-container{
        width: 90%;
        position: absolute;
        top: 50rem;
        left: 5%;
    }
    .illustration-app{
        width: 27rem;
        position: absolute;
        top: -15rem;
        left: 5rem;
        
    }
    .pattern-2{
        position: relative;
        left: 20rem;
    }
    .orange-container{
        width: 40rem;
        position: absolute;
        left: 20rem;
        top: 15rem;
    }
    .orange-container h2{
        font-size: 3rem;
    }
    .orange-container p{
        font-size: 2rem;
    }
    .apple-button{
        margin-bottom: 1rem;
        width: 30rem;
        margin-left: 5rem;
        
    }
    .android-button{
        width: 30rem;
        margin-left: 5rem;
    }
    footer{
        margin-top: 70rem;
        margin-bottom: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-info{
        width: 50%;
    }
    footer span{
        font-weight: bold;
    }
}

/* laptop */

@media (min-width: 1000px){
    .header-logo{
        margin-left: 5rem;
        margin-top: 5rem;
    }
    .text-header{
        width: 70rem;
        margin-left: 5rem;
    }
    .pattern-2{
        position: absolute;
        left: 30rem;
    }
    .orange-container{
        position: absolute;
        left: 45rem;
        
    }
    .apple-button{
        cursor: pointer;
    }
    .apple-button:hover{
        background-color: var(--newCyan);
    }
    .android-button{
        cursor: pointer;
    }
    .android-button:hover{
        background-color: var(--newYellow);
    }
    
}

/* desktop */

@media (min-width: 1600px){
    .header-logo{
        margin-left: 10rem;
        margin-top: 5rem;
    }
    .text-header {
        margin-left: 10rem;
        width: 80%;
    }
    .text-header p{
        margin-top: 5rem;
    }
    .pattern-1{
        margin-top: 10rem;
    }
    .pattern-2{
        margin-left: 25%;
    }
    .illustration-app{
        width: 30rem;
        position: absolute;
        left: 30rem;
    }
    .orange-container{
        position: absolute;
        left: 75rem;
    }
    .footer-info{
        display: flex;
    }
    .footer-logo{
        margin-left: 10rem;
    }
    .footer-logo{
        height: 7rem;
    }

}


   
  


    









